.box {
  width: 60px;
  height: 120px;
  background-color: #000;
  margin: 0 auto;
  animation: shake 800ms linear infinite;
  transform-origin: 50% 50%;
}

.share-image {
  position: fixed;
  top: 75px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 888px;
  border: 1px solid black;
  image {
    width: 100%;
    height: 100%;
  }
  .close,
  .save {
    position: absolute;
    bottom: -100px;
    transform: translateX(-50%);
    border: 1px solid;
    text-align: center;
  }

  .save {
    right: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(30deg);
  }
  30% {
    transform: rotateZ(0deg);
  }
  45% {
    transform: rotateZ(-40deg);
  }
  60% {
    transform: rotateZ(0deg);
  }
  100% {
    animation-timing-function: ease-in;
    transform: scale(0.4, 0.4);
  }
}
